.App {
  text-align: center;
}

div.vectorDisplay {
  width: fit-content;
  height: max-content;
  margin: auto;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

div.outter {
  position: relative;
  display: flex;
  margin: 20px;
  padding: 5px;
  border: 2px solid #0000ff;
  width: 600px;
  height: 120px;
}

div.outter button {
  position: absolute;
  top: 1px;
  right: 1px;
  text-align: center;
  padding: auto;
  display: none; 
}

div.outter:hover {
  border: 2px solid #ffa500;
}

div.outter:hover button {
  display: block;
}

div.outter img {
  border: 2px solid #ffa500;
  height: 98%;
  width: 20%;
}

div.outter aside {
  margin: 2px;
  padding: 0px;
  width: 80%;
}

div.outter input.title {
  color: #ffa500;
  font-size: 30px;
  padding-left: 2%;
  border: 1px solid #ffa500;
  height: 30%;
  width: 98%;
  text-align: left;
}

input.title::placeholder {
  color: #ffa500;
}

div.outter input.description {
  color: #808080;
  font-size: 20px;
  margin: 0px;
  padding-left: 2%;
  border: 1px solid #808080;
  height: 65%;
  width: 98%;
  text-align: left;
}

input.title::value {
  color: #ffa500;
}

button.addCard {
  margin:15px;
}